@model ETB310_LandlordV2.Models.ServiceCaseViewModel
@{
    ViewBag.Title = "Confirmation";
}
<h2>Tyvärr, något gick fel...</h2>
<p>
    Tyvärr, något gick fel vid registreringen och ett ärende kunde inte skapas.<br />
    Om du vill kan vi försöka skicka in ditt ärende igen.<br />
    Vi kan också mejla in ditt ärende åt dig, så lägger vi sen in det i systemet manuellt.
</p>

<div class="clearfix">
    <div>
        <div class="side-by-side ">
            @using (Html.BeginForm("RegisterServiceCase", "NewServiceCase", FormMethod.Post))
            {
                @Html.HiddenFor(vm => vm.Name, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.ContactEmail, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.FlatNr, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.NewPostMessage, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.TryCount)
                <input type="submit" value="Försök igen" class="btn btn-default" />
            }
        </div>
        @if (Model.TryCount > 1)
        {
            <div class="btn-extra-info">
                försök @Model.TryCount
            </div>
        }
        <div class="clearfix space-under"></div>
        <div class="side-by-side ">
            @using (Html.BeginForm("EditServiceCase", "NewServiceCase", FormMethod.Post))
            {
                @Html.HiddenFor(vm => vm.Name, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.ContactEmail, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.FlatNr, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.NewPostMessage, new { @class = "form-control" })
                @Html.HiddenFor(vm => vm.TryCount)
                <input type="submit" value="Redigera ärendet" class="btn btn-default" />
            }
        </div>
        <div class="clearfix space-under"></div>

        @using (Html.BeginForm("EmailRegisterServiceCase", "NewServiceCase", FormMethod.Post))
        {
            @Html.HiddenFor(vm => vm.Name, new { @class = "form-control" })
            @Html.HiddenFor(vm => vm.ContactEmail, new { @class = "form-control" })
            @Html.HiddenFor(vm => vm.FlatNr, new { @class = "form-control" })
            @Html.HiddenFor(vm => vm.NewPostMessage, new { @class = "form-control" })
            <input type="submit" value="Skicka ärendet som E-post" class="btn btn-default" />
        }

    </div>
</div>

<p>&nbsp;</p>
<p><b>Ärendet ser ut som följer:</b></p>
<div class="panel panel-info">
    <div>
        <b>Namn:</b> @Model.Name<br />
        <b>Epost:</b> @Model.ContactEmail<br />
        <b>Lägenhetsnummer:</b> @Model.FlatNr<br />
        <b>Meddelande:</b>
    </div>
    <div>@Model.NewPostMessage</div>
</div>
